envioEnOficina_optimizadov2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-03T06:11:12.007Z",
    "createdAt": "2026-03-03T06:11:12.007Z",
    "versionId": "3c3fc8ca-dc93-4814-88aa-746473380353",
    "workflowId": "Ro0L50mKZGAWbh3K",
    "nodes": [
      {
        "parameters": {
          "content": "## 1) Entrada y validación\nEste subflujo recibe datos desde otro workflow, extrae guía/ciudad/teléfono y valida formato mínimo.\nSi falta información, enruta a control de errores.",
          "height": 220,
          "width": 420,
          "color": 7
        },
        "id": "note-1",
        "name": "Sticky Note - Entrada",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -520,
          120
        ]
      },
      {
        "parameters": {
          "content": "## 2) Enriquecimiento (2 rutas)\nConsulta Google Sheets para buscar oficina por ciudad.\n- Si encuentra oficina: mensaje con dirección.\n- Si no encuentra oficina: mensaje alterno (igual se envía).",
          "height": 220,
          "width": 430,
          "color": 4
        },
        "id": "note-2",
        "name": "Sticky Note - Enriquecimiento",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          120,
          120
        ]
      },
      {
        "parameters": {
          "content": "## 3) Salida y control de errores\nConstruye mensaje WhatsApp, valida errores finales y escribe en hoja destino solo cuando esté OK.\nErrores quedan estructurados para monitoreo aguas arriba.",
          "height": 220,
          "width": 470,
          "color": 6
        },
        "id": "note-3",
        "name": "Sticky Note - Salida",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          760,
          120
        ]
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger-1",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -504,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const src = item.json || {};\n  const texto = src.text || (src.previous_message && src.previous_message.text) || (src.message && src.message.text) || '';\n  if (!texto) { out.push({ json: { ok:false, stage:'parse', error:'Mensaje sin texto utilizable', raw: src } }); continue; }\n  const matchGuia = texto.match(/guía\\s(\\d+)/i);\n  const matchTelefono = texto.match(/TELÉFONO:\\s*(\\d+)/i);\n  const matchCiudad = texto.match(/CIUDAD:\\s*(.+)/i);\n  const matchNovedad = texto.match(/NOVEDAD:\\s*([\\s\\S]*?)(?=\\n\\*--DESTINO--\\*)/i);\n  if (!matchGuia || !matchTelefono || !matchCiudad || !matchNovedad) { out.push({ json: { ok:false, stage:'parse', error:'No se pudieron extraer todos los campos requeridos', rawText: texto } }); continue; }\n  const novedad = matchNovedad[1] || '';\n  const esNovedadOficina = novedad.includes('Tu pedido ha llegado a nuestra oficina') && novedad.includes('Está listo para ser reclamado');\n  if (!esNovedadOficina) { out.push({ json: { ok:false, stage:'rule', error:'El texto no coincide con la regla de novedad de oficina', guia: matchGuia[1] } }); continue; }\n  out.push({ json: { ok: true, guia: matchGuia[1], ciudad: matchCiudad[1].trim(), telefono: matchTelefono[1] } });\n}\nreturn out;"
        },
        "id": "code-parse",
        "name": "Validar y extraer datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          384
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-ok1",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-valid",
        "name": "Datos válidos?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -48,
          384
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
            "mode": "list"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Municipio",
                "lookupValue": "={{ $json.ciudad }}"
              }
            ]
          },
          "options": {}
        },
        "id": "gs-lookup",
        "name": "Buscar oficina por ciudad",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          176,
          384
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pE73l5Kd3TQ63AuS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst fallback = $('Validar y extraer datos').first().json;\nfor (const item of items) {\n  const j = item.json || {};\n  if (!j.telefono) j.telefono = j['TELÉFONO'] || fallback.telefono;\n  if (!j.guia) j.guia = j['Numero de guia'] || fallback.guia;\n  if (!j.ciudad) j.ciudad = j['CIUDAD'] || fallback.ciudad;\n  if (!j.telefono || !j.guia || !j.ciudad) { j.ok=false; j.stage='compose'; j.error='Faltan datos críticos (guía/ciudad/teléfono)'; continue; }\n  let telefono = String(j.telefono).replace(/\\D/g, '');\n  if (telefono.length === 10) telefono = '57' + telefono;\n  if (telefono.length < 12) { j.ok=false; j.stage='compose'; j.error='Teléfono inválido tras normalización'; continue; }\n  const oficina = j['Oficina'];\n  const conOficina = Boolean(oficina && String(oficina).trim());\n  const mensaje = conOficina\n    ? `¡Hola! Te tenemos excelentes noticias.\n\nTu paquete con guía *${j.guia}* ya se encuentra en *${j.ciudad}* y está listo para ser reclamado.\n\n*Dirección de la oficina:* ${oficina}\n\nTe invitamos a recogerlo lo más pronto posible para evitar que sea devuelto.\n\nSi deseas consultar la ubicación exacta en el mapa, puedes ingresar a este enlace:\nhttps://www3.interrapidisimo.com/SitioOficinaMasCercana/\n\nPara más información sobre tu entrega, puedes contactar directamente a Interrapidisimo al *323 255 4455*.\n\n¡Gracias por tu tiempo!`\n    : `¡Hola! Te tenemos excelentes noticias.\n\nTu paquete con guía *${j.guia}* ya se encuentra en *${j.ciudad}* y está listo para ser reclamado.\n\nPor ahora no tenemos la dirección exacta de la oficina en el sistema, pero puedes consultarla aquí:\nhttps://www3.interrapidisimo.com/SitioOficinaMasCercana/\n\nSi necesitas más información sobre la entrega, puedes comunicarte directamente con la línea de atención de Interrapidisimo al *323 255 4455*.\n\n¡Gracias por tu tiempo y que lo disfrutes!`;\n  j.ok = true;\n  j.telefono = telefono;\n  j['Mensaje a Enviar'] = mensaje;\n  j['Enlace WhatsApp'] = `https://wa.me/${telefono}?text=${encodeURIComponent(mensaje)}`;\n  j['ruta'] = conOficina ? 'con_oficina' : 'sin_oficina';\n}\nreturn items;"
        },
        "id": "code-compose",
        "name": "Construir mensaje y enlace",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          384
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-ok2",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-final",
        "name": "Sin errores?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          624,
          384
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
            "mode": "list"
          },
          "sheetName": {
            "__rl": true,
            "value": 2104441529,
            "mode": "list"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Mensaje": "={{ $json[\"Enlace WhatsApp\"] }}",
              "Guia": "={{ $json.guia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Guia",
                "displayName": "Guia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Mensaje",
                "displayName": "Mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "gs-append",
        "name": "Guardar enlace en hoja",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          848,
          288
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pE73l5Kd3TQ63AuS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "id": "noop-ok",
        "name": "Fin OK",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1072,
          288
        ]
      },
      {
        "parameters": {
          "jsCode": "const err = $json.error || 'Error no especificado';\nreturn [{ json: { ok:false, workflow:'envioEnOficina_optimizadov2', stage:$json.stage || 'unknown', error:err, guia:$json.guia || null, ciudad:$json.ciudad || null, timestamp:new Date().toISOString() } }];"
        },
        "id": "code-error",
        "name": "Estandarizar error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          496
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "id": "noop-error",
        "name": "Fin Error",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1072,
          496
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Validar y extraer datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar y extraer datos": {
        "main": [
          [
            {
              "node": "Datos válidos?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos válidos?": {
        "main": [
          [
            {
              "node": "Buscar oficina por ciudad",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Estandarizar error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar oficina por ciudad": {
        "main": [
          [
            {
              "node": "Construir mensaje y enlace",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir mensaje y enlace": {
        "main": [
          [
            {
              "node": "Sin errores?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sin errores?": {
        "main": [
          [
            {
              "node": "Guardar enlace en hoja",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Estandarizar error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar enlace en hoja": {
        "main": [
          [
            {
              "node": "Fin OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Estandarizar error": {
        "main": [
          [
            {
              "node": "Fin Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jorge Patino",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T06:11:12.091Z",
        "id": 50,
        "workflowId": "Ro0L50mKZGAWbh3K",
        "versionId": "3c3fc8ca-dc93-4814-88aa-746473380353",
        "event": "activated",
        "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787"
      }
    ]
  },
  "activeVersionId": "3c3fc8ca-dc93-4814-88aa-746473380353",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validar y extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y extraer datos": {
      "main": [
        [
          {
            "node": "Datos válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos válidos?": {
      "main": [
        [
          {
            "node": "Buscar oficina por ciudad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estandarizar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar oficina por ciudad": {
      "main": [
        [
          {
            "node": "Construir mensaje y enlace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir mensaje y enlace": {
      "main": [
        [
          {
            "node": "Sin errores?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin errores?": {
      "main": [
        [
          {
            "node": "Guardar enlace en hoja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estandarizar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar enlace en hoja": {
      "main": [
        [
          {
            "node": "Fin OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estandarizar error": {
      "main": [
        [
          {
            "node": "Fin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T06:06:23.908Z",
  "description": null,
  "id": "Ro0L50mKZGAWbh3K",
  "isArchived": false,
  "meta": null,
  "name": "envioEnOficina_optimizadov2",
  "nodes": [
    {
      "parameters": {
        "content": "## 1) Entrada y validación\nEste subflujo recibe datos desde otro workflow, extrae guía/ciudad/teléfono y valida formato mínimo.\nSi falta información, enruta a control de errores.",
        "height": 220,
        "width": 420,
        "color": 7
      },
      "id": "note-1",
      "name": "Sticky Note - Entrada",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        120
      ]
    },
    {
      "parameters": {
        "content": "## 2) Enriquecimiento (2 rutas)\nConsulta Google Sheets para buscar oficina por ciudad.\n- Si encuentra oficina: mensaje con dirección.\n- Si no encuentra oficina: mensaje alterno (igual se envía).",
        "height": 220,
        "width": 430,
        "color": 4
      },
      "id": "note-2",
      "name": "Sticky Note - Enriquecimiento",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        120
      ]
    },
    {
      "parameters": {
        "content": "## 3) Salida y control de errores\nConstruye mensaje WhatsApp, valida errores finales y escribe en hoja destino solo cuando esté OK.\nErrores quedan estructurados para monitoreo aguas arriba.",
        "height": 220,
        "width": 470,
        "color": 6
      },
      "id": "note-3",
      "name": "Sticky Note - Salida",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        120
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -504,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const src = item.json || {};\n  const texto = src.text || (src.previous_message && src.previous_message.text) || (src.message && src.message.text) || '';\n  if (!texto) { out.push({ json: { ok:false, stage:'parse', error:'Mensaje sin texto utilizable', raw: src } }); continue; }\n  const matchGuia = texto.match(/guía\\s(\\d+)/i);\n  const matchTelefono = texto.match(/TELÉFONO:\\s*(\\d+)/i);\n  const matchCiudad = texto.match(/CIUDAD:\\s*(.+)/i);\n  const matchNovedad = texto.match(/NOVEDAD:\\s*([\\s\\S]*?)(?=\\n\\*--DESTINO--\\*)/i);\n  if (!matchGuia || !matchTelefono || !matchCiudad || !matchNovedad) { out.push({ json: { ok:false, stage:'parse', error:'No se pudieron extraer todos los campos requeridos', rawText: texto } }); continue; }\n  const novedad = matchNovedad[1] || '';\n  const esNovedadOficina = novedad.includes('Tu pedido ha llegado a nuestra oficina') && novedad.includes('Está listo para ser reclamado');\n  if (!esNovedadOficina) { out.push({ json: { ok:false, stage:'rule', error:'El texto no coincide con la regla de novedad de oficina', guia: matchGuia[1] } }); continue; }\n  out.push({ json: { ok: true, guia: matchGuia[1], ciudad: matchCiudad[1].trim(), telefono: matchTelefono[1] } });\n}\nreturn out;"
      },
      "id": "code-parse",
      "name": "Validar y extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        384
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-ok1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Datos válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Municipio",
              "lookupValue": "={{ $json.ciudad }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gs-lookup",
      "name": "Buscar oficina por ciudad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fallback = $('Validar y extraer datos').first().json;\nfor (const item of items) {\n  const j = item.json || {};\n  if (!j.telefono) j.telefono = j['TELÉFONO'] || fallback.telefono;\n  if (!j.guia) j.guia = j['Numero de guia'] || fallback.guia;\n  if (!j.ciudad) j.ciudad = j['CIUDAD'] || fallback.ciudad;\n  if (!j.telefono || !j.guia || !j.ciudad) { j.ok=false; j.stage='compose'; j.error='Faltan datos críticos (guía/ciudad/teléfono)'; continue; }\n  let telefono = String(j.telefono).replace(/\\D/g, '');\n  if (telefono.length === 10) telefono = '57' + telefono;\n  if (telefono.length < 12) { j.ok=false; j.stage='compose'; j.error='Teléfono inválido tras normalización'; continue; }\n  const oficina = j['Oficina'];\n  const conOficina = Boolean(oficina && String(oficina).trim());\n  const mensaje = conOficina\n    ? `¡Hola! Te tenemos excelentes noticias.\n\nTu paquete con guía *${j.guia}* ya se encuentra en *${j.ciudad}* y está listo para ser reclamado.\n\n*Dirección de la oficina:* ${oficina}\n\nTe invitamos a recogerlo lo más pronto posible para evitar que sea devuelto.\n\nSi deseas consultar la ubicación exacta en el mapa, puedes ingresar a este enlace:\nhttps://www3.interrapidisimo.com/SitioOficinaMasCercana/\n\nPara más información sobre tu entrega, puedes contactar directamente a Interrapidisimo al *323 255 4455*.\n\n¡Gracias por tu tiempo!`\n    : `¡Hola! Te tenemos excelentes noticias.\n\nTu paquete con guía *${j.guia}* ya se encuentra en *${j.ciudad}* y está listo para ser reclamado.\n\nPor ahora no tenemos la dirección exacta de la oficina en el sistema, pero puedes consultarla aquí:\nhttps://www3.interrapidisimo.com/SitioOficinaMasCercana/\n\nSi necesitas más información sobre la entrega, puedes comunicarte directamente con la línea de atención de Interrapidisimo al *323 255 4455*.\n\n¡Gracias por tu tiempo y que lo disfrutes!`;\n  j.ok = true;\n  j.telefono = telefono;\n  j['Mensaje a Enviar'] = mensaje;\n  j['Enlace WhatsApp'] = `https://wa.me/${telefono}?text=${encodeURIComponent(mensaje)}`;\n  j['ruta'] = conOficina ? 'con_oficina' : 'sin_oficina';\n}\nreturn items;"
      },
      "id": "code-compose",
      "name": "Construir mensaje y enlace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        384
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-ok2",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-final",
      "name": "Sin errores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 2104441529,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje": "={{ $json[\"Enlace WhatsApp\"] }}",
            "Guia": "={{ $json.guia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Guia",
              "displayName": "Guia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gs-append",
      "name": "Guardar enlace en hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-ok",
      "name": "Fin OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'Error no especificado';\nreturn [{ json: { ok:false, workflow:'envioEnOficina_optimizadov2', stage:$json.stage || 'unknown', error:err, guia:$json.guia || null, ciudad:$json.ciudad || null, timestamp:new Date().toISOString() } }];"
      },
      "id": "code-error",
      "name": "Estandarizar error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "noop-error",
      "name": "Fin Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T06:06:23.916Z",
      "createdAt": "2026-03-03T06:06:23.916Z",
      "role": "workflow:owner",
      "workflowId": "Ro0L50mKZGAWbh3K",
      "projectId": "E56trdgxInvxGA6Y",
      "project": {
        "updatedAt": "2026-01-12T22:50:30.978Z",
        "createdAt": "2026-01-12T21:05:23.614Z",
        "id": "E56trdgxInvxGA6Y",
        "name": "jorge Patino <jorgeptn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T21:05:23.619Z",
            "createdAt": "2026-01-12T21:05:23.619Z",
            "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
            "projectId": "E56trdgxInvxGA6Y",
            "user": {
              "updatedAt": "2026-03-03T05:00:02.000Z",
              "createdAt": "2026-01-12T21:05:23.596Z",
              "id": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
              "email": "jorgeptn@gmail.com",
              "firstName": "jorge",
              "lastName": "Patino",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T22:51:32.120Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "zQ-8lqPtwSRNSIrY09cbr",
                "userActivated": true,
                "userActivatedAt": 1768360374572,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772502543338
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-03T06:11:12.005Z",
  "versionCounter": 6,
  "versionId": "3c3fc8ca-dc93-4814-88aa-746473380353"
}