flujoCreacionSucursal.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "address-notifications": {
      "main": [
        [
          {
            "node": "JavaScript: Transformar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JavaScript: Transformar Data": {
      "main": [
        [
          {
            "node": "Incluir Data en Fila de archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incluir Data en Fila de archivo": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T03:53:48.504Z",
  "description": null,
  "id": "zQ-8lqPtwSRNSIrY09cbr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "flujoCreacionSucursal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        224
      ],
      "id": "1e5a143d-7b31-467f-9e90-005a329d65fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "¿ENVIADO POR CORREO?",
              "lookupValue": "NO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        224
      ],
      "id": "7ebf7bd5-7705-4850-a8b6-411054b1ddd5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1bPMWWtHX3SEOL_z5PjhIE8hGQGPy28-FPmSSbqUE3oU",
          "mode": "list",
          "cachedResultName": "plantillaSucursales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bPMWWtHX3SEOL_z5PjhIE8hGQGPy28-FPmSSbqUE3oU/edit?usp=drivesdk"
        },
        "name": "=AKIENVIO S.A.S SUCURSALES {{$now.toFormat('dd.MM.yyyy')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        128
      ],
      "id": "8cf2b2aa-7e7a-4893-bf6a-8dc495e28ad4",
      "name": "Copy file",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Jt9zaytK5uu24AB1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jorgeptn@gmail.com;Ejecutivodepuntos.bogota@interrapidisimo.com;supervisor.clientescorporativos@interrapidisimo.com;auxiliar.canales2@interrapidisimo.com;coordinador.ventascorporativas1@interrapidisimo.com;subgerente.cuentasclave@interrapidisimo.com;supervisor.clientescorporativos1@interrapidisimo.com;supervisor.puntosmoviles3@interrapidisimo.com",
        "subject": "={{ $('Copy file').item.json.name }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { margin: 0; padding: 0; background-color: #f4f7f6; }\n        .email-wrapper { width: 100%; background-color: #f4f7f6; padding: 25px 0; }\n        \n        .email-container {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            color: #2d3748;\n            line-height: 1.5;\n            max-width: 580px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border: 1px solid #e2e8f0;\n            border-radius: 10px;\n            overflow: hidden;\n            text-align: left;\n        }\n        \n        .top-accent { background-color: #ED64A6; height: 6px; }\n\n        .body-content { padding: 35px 30px; }\n        \n        /* Título principal en Magenta */\n        .title {\n            color: #ED64A6;\n            font-size: 20px;\n            font-weight: bold;\n            margin-bottom: 20px;\n            border-bottom: 1px solid #fed7e4;\n            padding-bottom: 10px;\n        }\n\n        /* Subtítulo en el mismo Magenta, pero más pequeño (11px) */\n        .company-subtitle {\n            display: block;\n            font-size: 11px;\n            font-weight: 600; /* Un poco de grosor para que se lea bien en magenta */\n            color: #ED64A6;\n            margin-top: 4px;\n            text-transform: uppercase;\n            letter-spacing: 0.8px;\n        }\n        \n        p {\n            font-size: 15px;\n            margin-bottom: 15px;\n        }\n        \n        .highlight { color: #ED64A6; font-weight: 600; }\n        \n        .signature-section {\n            padding: 25px 30px;\n            background-color: #fffafc;\n            border-top: 1px solid #fed7e4;\n        }\n        \n        .sig-name {\n            font-weight: bold;\n            color: #ED64A6;\n            font-size: 17px;\n            margin: 0;\n        }\n        \n        .sig-info {\n            font-size: 13px;\n            color: #4a5568;\n            margin: 2px 0;\n        }\n        \n        .sig-role {\n            font-size: 12px;\n            color: #718096;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-top: 4px;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"email-container\">\n            <div class=\"top-accent\"></div>\n            \n            <div class=\"body-content\">\n                <div class=\"title\">\n                    Creaci&oacute;n de Sucursales\n                    <span class=\"company-subtitle\">Akienvio SAS - NIT: 9001702784</span>\n                </div>\n                \n                <p>Buen d&iacute;a, <strong>Kevin</strong>.</p>\n                \n                <p>Esperamos que te encuentres muy bien.</p>\n                \n                <p>Te hacemos entrega del archivo adjunto necesario para la <span class=\"highlight\">creaci&oacute;n de las sucursales</span>. Te agradecemos procesar esta informaci&oacute;n para poner al d&iacute;a los registros que tenemos pendientes.</p>\n                \n                <p>Cualquier duda adicional que surja durante el proceso, quedamos atentos para apoyarte de inmediato.</p>\n            </div>\n\n            <div class=\"signature-section\">\n                <p style=\"margin: 0 0 10px 0; font-size: 13px; color: #718096;\">Cordialmente,</p>\n                <p class=\"sig-name\">Jorge Pati&ntilde;o</p>\n                <p class=\"sig-info\">Cel: 3203453744</p>\n                <p class=\"sig-role\">Director de Operaciones</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        128
      ],
      "id": "f4f31f3a-cf4c-47ac-a57e-3ef9681f29d3",
      "name": "Send a message",
      "webhookId": "91b3ada4-1783-4c3f-9618-919eab1458f2",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "E6A3o0KS4UfkMlS3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "¿ENVIADO POR CORREO?": "SI"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMBRE DE LA EMPRESA",
              "displayName": "NOMBRE DE LA EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID SUCURSAL",
              "displayName": "ID SUCURSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NIT",
              "displayName": "NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "displayName": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIRECCIÓN",
              "displayName": "DIRECCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIUDAD PRESTACIÓN SERVICIO",
              "displayName": "CIUDAD PRESTACIÓN SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PERSONA RESPONSABLE DEL PAGO",
              "displayName": "PERSONA RESPONSABLE DEL PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORARIO DE RECOGIDA",
              "displayName": "HORARIO DE RECOGIDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿ENVIADO POR CORREO?",
              "displayName": "¿ENVIADO POR CORREO?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        128
      ],
      "id": "90c25644-5803-4a13-9978-b5820e4cf053",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          },
          "fileName": "=SUCURSALES AKIENVIO S.A.S {{ $today.toFormat('dd-MM-yyyy') }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        128
      ],
      "id": "f5d26239-d84a-4476-a48b-86431e39f77b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Jt9zaytK5uu24AB1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $item(0).$node[\"Copy file\"].json[\"id\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1745303911,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xj5j1KmZn2TDQiLdkukfk4GdorrJxKNiaguMmGeKNgY/edit#gid=1745303911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE DE LA EMPRESA": "={{ $('Get row(s) in sheet').item.json['NOMBRE DE LA EMPRESA'] }}",
            "NIT": "={{ $('Get row(s) in sheet').item.json.NIT }}",
            "PERSONA RESPONSABLE DEL PAGO": "={{ $('Get row(s) in sheet').item.json['PERSONA RESPONSABLE DEL PAGO'] }}",
            "HORARIO DE RECOGIDA": "={{ $('Get row(s) in sheet').item.json['HORARIO DE RECOGIDA'] }}",
            "E-MAIL": "={{ $('Get row(s) in sheet').item.json['E-MAIL'] }}",
            "CIUDAD PRESTACIÓN SERVICIO": "={{ $('Get row(s) in sheet').item.json['CIUDAD PRESTACIÓN SERVICIO'] }}",
            "DIRECCIÓN": "={{ $('Get row(s) in sheet').item.json['DIRECCIÓN'] }}",
            "TELÉFONO": "={{ $('Get row(s) in sheet').item.json['TELÉFONO'] }}",
            "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO": "={{ $('Get row(s) in sheet').item.json['CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOMBRE DE LA EMPRESA",
              "displayName": "NOMBRE DE LA EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID SUCURSAL",
              "displayName": "ID SUCURSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NIT",
              "displayName": "NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "displayName": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIRECCIÓN",
              "displayName": "DIRECCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CIUDAD PRESTACIÓN SERVICIO",
              "displayName": "CIUDAD PRESTACIÓN SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PERSONA RESPONSABLE DEL PAGO",
              "displayName": "PERSONA RESPONSABLE DEL PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORARIO DE RECOGIDA",
              "displayName": "HORARIO DE RECOGIDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        128
      ],
      "id": "7c72bae7-84e8-47b8-b91a-524b6800b30b",
      "name": "Append row in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada de Data desde canal Addres-Notafication\n",
        "height": 224,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -160
      ],
      "id": "181fbaa3-54df-42ac-b823-24a1d8315429",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C06V11085AB",
          "mode": "list",
          "cachedResultName": "address-notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ],
      "id": "930e0e09-936f-45e2-99ac-6d5f0cc4aac5",
      "name": "address-notifications",
      "webhookId": "20952fef-2d31-4002-a56e-604c3c49b416",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "slackApi": {
          "id": "Qvlx8HCnkGFVLFOp",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el objeto principal que llega de Slack en n8n\nconst input = $input.all()[0].json;\n\n// 2. Buscamos el texto donde está la información completa.\n// En los mensajes modernos de Slack, los detalles están dentro de \"blocks\"\nlet textoBruto = \"\";\n\nif (input.blocks && input.blocks.length > 1 && input.blocks[1].text) {\n  // Tomamos el texto del segundo bloque que contiene todos los datos\n  textoBruto = input.blocks[1].text.text; \n} else if (input.text) {\n  textoBruto = input.text;\n}\n\n// 3. Función para extraer el valor después de cada etiqueta\nconst extraerDato = (etiqueta) => {\n  const regex = new RegExp(`${etiqueta}:\\\\s*([^\\n\\r]+)`, 'i');\n  const coincidencia = textoBruto.match(regex);\n  return coincidencia ? coincidencia[1].trim() : \"\";\n};\n\n// 4. Limpiamos los correos (Slack los envía como <mailto:correo|correo>)\nconst limpiarCorreo = (correoSucio) => {\n  if (!correoSucio) return \"\";\n  const match = correoSucio.match(/mailto:([^|>]+)/);\n  return match ? match[1] : correoSucio.replace(/[<>*]/g, \"\").trim();\n};\n\n// 5. Extraemos las variables necesarias para hacer las uniones\nconst aliasExtraido = extraerDato(\"Alias\");\nconst direccionBase = extraerDato(\"Dirección\");\nconst apto = extraerDato(\"Apto/Casa/Otro\");\n\n// 6. Construimos el resultado final con el formato exacto solicitado\nconst resultado = {\n  empresa: aliasExtraido ? `AKIENVIO S.A.S/ ${aliasExtraido}` : \"AKIENVIO S.A.S\",\n  id_sucursal: \"\", // Queda básico/vacío\n  nit: \"901702784-7\",\n  contacto: \"\", // Queda vacío\n  telefono: extraerDato(\"Teléfono\"),\n  direccion: `${direccionBase} ${apto}`.trim(), // Se juntan con un espacio, sin guiones\n  ciudad: extraerDato(\"Ciudad\"),\n  email: limpiarCorreo(extraerDato(\"Usuario\")) // Extrae \"soporte@akienvio.co\" de la línea Usuario\n};\n\n// Devolvemos el array de objetos como lo espera n8n\nreturn [resultado];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -96
      ],
      "id": "a4650b95-c556-4349-8654-5e71acb7ca3a",
      "name": "JavaScript: Transformar Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE DE LA EMPRESA": "={{ $json.empresa }}",
            "NIT": "901702784",
            "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO": "Jorge Enrique Patiño Perez",
            "TELÉFONO": "={{ $json.telefono }}",
            "DIRECCIÓN": "={{ $json.direccion }}",
            "CIUDAD PRESTACIÓN SERVICIO": "={{ $json.ciudad }}",
            "E-MAIL": "={{ $json.email }}",
            "PERSONA RESPONSABLE DEL PAGO": "JORGE ENRIQUE PATIÑO PEREZ",
            "HORARIO DE RECOGIDA": "ESPORADICA",
            "¿ENVIADO POR CORREO?": "NO"
          },
          "matchingColumns": [
            "HORARIO DE RECOGIDA"
          ],
          "schema": [
            {
              "id": "NOMBRE DE LA EMPRESA",
              "displayName": "NOMBRE DE LA EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID SUCURSAL",
              "displayName": "ID SUCURSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT",
              "displayName": "NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "displayName": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIRECCIÓN",
              "displayName": "DIRECCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CIUDAD PRESTACIÓN SERVICIO",
              "displayName": "CIUDAD PRESTACIÓN SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PERSONA RESPONSABLE DEL PAGO",
              "displayName": "PERSONA RESPONSABLE DEL PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORARIO DE RECOGIDA",
              "displayName": "HORARIO DE RECOGIDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "¿ENVIADO POR CORREO?",
              "displayName": "¿ENVIADO POR CORREO?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -96
      ],
      "id": "a28d8ca4-8531-41e3-9a41-50994daa3958",
      "name": "Incluir Data en Fila de archivo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envio de informacion por Email\n",
        "height": 336,
        "width": 2272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        80
      ],
      "id": "8a3f2e11-2371-4b8a-892c-1cbf92e1d205",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41093930-21fe-4fc3-bf5e-ccd7ed98c35c",
              "leftValue": "={{ $input.all().length > 0\n}})",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        224
      ],
      "id": "85e00f58-3ade-4dcf-82e2-ab43f52e2dfc",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Correos de destino \njorgeptn@gmail.com;Ejecutivodepuntos.bogota@interrapidisimo.com;supervisor.clientescorporativos@interrapidisimo.com;auxiliar.canales2@interrapidisimo.com;coordinador.ventascorporativas1@interrapidisimo.com;subgerente.cuentasclave@interrapidisimo.com;supervisor.clientescorporativos1@interrapidisimo.com;supervisor.puntosmoviles3@interrapidisimo.com",
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -160
      ],
      "typeVersion": 1,
      "id": "0de8b89a-a3ed-45e4-b62c-e62b8bef9796",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Esto vuelve a traer al flujo todos los datos de la consulta original\nreturn $('Get row(s) in sheet').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        128
      ],
      "id": "4066357d-54ee-446d-8256-5be54445ffbf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Esto vuelve a traer al flujo todos los datos de la consulta original\nreturn $('Get row(s) in sheet').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        128
      ],
      "id": "11f6b555-9688-4832-b90a-af5eaf91e142",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        320
      ],
      "id": "818705dc-2823-429c-960c-724a99b1b82d",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T03:53:48.513Z",
      "createdAt": "2026-01-13T03:53:48.513Z",
      "role": "workflow:owner",
      "workflowId": "zQ-8lqPtwSRNSIrY09cbr",
      "projectId": "E56trdgxInvxGA6Y",
      "project": {
        "updatedAt": "2026-01-12T22:50:30.978Z",
        "createdAt": "2026-01-12T21:05:23.614Z",
        "id": "E56trdgxInvxGA6Y",
        "name": "jorge Patino <jorgeptn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T21:05:23.619Z",
            "createdAt": "2026-01-12T21:05:23.619Z",
            "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
            "projectId": "E56trdgxInvxGA6Y",
            "user": {
              "updatedAt": "2026-02-28T01:11:37.000Z",
              "createdAt": "2026-01-12T21:05:23.596Z",
              "id": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
              "email": "jorgeptn@gmail.com",
              "firstName": "jorge",
              "lastName": "Patino",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T22:51:32.120Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "zQ-8lqPtwSRNSIrY09cbr",
                "userActivated": true,
                "userActivatedAt": 1768360374572,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1771450117373
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-25T20:20:00.545Z",
  "versionCounter": 61,
  "versionId": "39a7181e-561a-4e21-9cbf-e293539e0b2f"
}