flujoCreacionSucursal.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "address-notifications": {
      "main": [
        []
      ]
    },
    "JavaScript: Transformar Data": {
      "main": [
        [
          {
            "node": "Incluir Data en Fila de archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incluir Data en Fila de archivo": {
      "main": [
        []
      ]
    },
    "Solicitar Aprobación": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Verificar Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Aprobación": {
      "main": [
        [
          {
            "node": "Recuperar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Archivo": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Copy file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Solicitar Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "JavaScript: Transformar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T03:53:48.504Z",
  "description": null,
  "id": "zQ-8lqPtwSRNSIrY09cbr",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "flujoCreacionSucursal",
  "nodes": [
    {
      "parameters": {
        "content": "## Entrada de Data desde canal Addres-Notafication\n",
        "height": 224,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        -128
      ],
      "id": "181fbaa3-54df-42ac-b823-24a1d8315429",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C06V11085AB",
          "mode": "list",
          "cachedResultName": "address-notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -208
      ],
      "id": "930e0e09-936f-45e2-99ac-6d5f0cc4aac5",
      "name": "address-notifications",
      "webhookId": "20952fef-2d31-4002-a56e-604c3c49b416",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "slackApi": {
          "id": "Qvlx8HCnkGFVLFOp",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el objeto principal que llega de Slack en n8n\nconst input = $input.all()[0].json;\n\n// 2. Buscamos el texto donde está la información completa.\n// En los mensajes modernos de Slack, los detalles están dentro de \"blocks\"\nlet textoBruto = \"\";\n\nif (input.blocks && input.blocks.length > 1 && input.blocks[1].text) {\n  // Tomamos el texto del segundo bloque que contiene todos los datos\n  textoBruto = input.blocks[1].text.text; \n} else if (input.text) {\n  textoBruto = input.text;\n}\n\n// 3. Función para extraer el valor después de cada etiqueta\nconst extraerDato = (etiqueta) => {\n  const regex = new RegExp(`${etiqueta}:\\\\s*([^\\n\\r]+)`, 'i');\n  const coincidencia = textoBruto.match(regex);\n  return coincidencia ? coincidencia[1].trim() : \"\";\n};\n\n// 4. Limpiamos los correos (Slack los envía como <mailto:correo|correo>)\nconst limpiarCorreo = (correoSucio) => {\n  if (!correoSucio) return \"\";\n  const match = correoSucio.match(/mailto:([^|>]+)/);\n  return match ? match[1] : correoSucio.replace(/[<>*]/g, \"\").trim();\n};\n\n// 5. Extraemos las variables necesarias para hacer las uniones\nconst aliasExtraido = extraerDato(\"Alias\");\nconst direccionBase = extraerDato(\"Dirección\");\nconst apto = extraerDato(\"Apto/Casa/Otro\");\n\n// 6. Construimos el resultado final con el formato exacto solicitado\nconst resultado = {\n  empresa: aliasExtraido ? `AKIENVIO S.A.S/ ${aliasExtraido}` : \"AKIENVIO S.A.S\",\n  id_sucursal: \"\", // Queda básico/vacío\n  nit: \"901702784-7\",\n  contacto: \"\", // Queda vacío\n  telefono: extraerDato(\"Teléfono\"),\n  direccion: `${direccionBase} ${apto}`.trim(), // Se juntan con un espacio, sin guiones\n  ciudad: extraerDato(\"Ciudad\"),\n  email: limpiarCorreo(extraerDato(\"Usuario\")) // Extrae \"soporte@akienvio.co\" de la línea Usuario\n};\n\n// Devolvemos el array de objetos como lo espera n8n\nreturn [resultado];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -64
      ],
      "id": "a4650b95-c556-4349-8654-5e71acb7ca3a",
      "name": "JavaScript: Transformar Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE DE LA EMPRESA": "={{ $json.empresa }}",
            "NIT": "901702784",
            "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO": "Jorge Enrique Patiño Perez",
            "TELÉFONO": "={{ $json.telefono }}",
            "DIRECCIÓN": "={{ $json.direccion }}",
            "CIUDAD PRESTACIÓN SERVICIO": "={{ $json.ciudad }}",
            "E-MAIL": "={{ $json.email }}",
            "PERSONA RESPONSABLE DEL PAGO": "JORGE ENRIQUE PATIÑO PEREZ",
            "HORARIO DE RECOGIDA": "ESPORADICA",
            "¿ENVIADO POR CORREO?": "NO"
          },
          "matchingColumns": [
            "HORARIO DE RECOGIDA"
          ],
          "schema": [
            {
              "id": "NOMBRE DE LA EMPRESA",
              "displayName": "NOMBRE DE LA EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID SUCURSAL",
              "displayName": "ID SUCURSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT",
              "displayName": "NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "displayName": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIRECCIÓN",
              "displayName": "DIRECCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CIUDAD PRESTACIÓN SERVICIO",
              "displayName": "CIUDAD PRESTACIÓN SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PERSONA RESPONSABLE DEL PAGO",
              "displayName": "PERSONA RESPONSABLE DEL PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORARIO DE RECOGIDA",
              "displayName": "HORARIO DE RECOGIDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "¿ENVIADO POR CORREO?",
              "displayName": "¿ENVIADO POR CORREO?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -64
      ],
      "id": "a28d8ca4-8531-41e3-9a41-50994daa3958",
      "name": "Incluir Data en Fila de archivo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Correos de destino \njorgeptn@gmail.com;Ejecutivodepuntos.bogota@interrapidisimo.com;supervisor.clientescorporativos@interrapidisimo.com;auxiliar.canales2@interrapidisimo.com;coordinador.ventascorporativas1@interrapidisimo.com;subgerente.cuentasclave@interrapidisimo.com;supervisor.clientescorporativos1@interrapidisimo.com;supervisor.puntosmoviles3@interrapidisimo.com",
        "height": 96,
        "width": 1504,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        256
      ],
      "typeVersion": 1,
      "id": "0de8b89a-a3ed-45e4-b62c-e62b8bef9796",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envio de informacion por Email\n",
        "height": 480,
        "width": 2976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        384
      ],
      "id": "8a3f2e11-2371-4b8a-892c-1cbf92e1d205",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "jorgeptn@gmail.com",
        "subject": "=APROBACIÓN REQUERIDA: {{ $('Copy file1').item.json.name }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { margin: 0; padding: 0; background-color: #f4f7f6; }\n        .email-wrapper { width: 100%; background-color: #f4f7f6; padding: 25px 0; }\n        \n        .email-container {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            color: #2d3748;\n            line-height: 1.5;\n            max-width: 580px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border: 1px solid #e2e8f0;\n            border-radius: 10px;\n            overflow: hidden;\n            text-align: left;\n        }\n        \n        .top-accent { background-color: #ED64A6; height: 6px; }\n\n        .body-content { padding: 35px 30px; }\n        \n        .title {\n            color: #ED64A6;\n            font-size: 20px;\n            font-weight: bold;\n            margin-bottom: 20px;\n            border-bottom: 1px solid #fed7e4;\n            padding-bottom: 10px;\n        }\n\n        .company-subtitle {\n            display: block;\n            font-size: 11px;\n            font-weight: 600;\n            color: #ED64A6;\n            margin-top: 4px;\n            text-transform: uppercase;\n            letter-spacing: 0.8px;\n        }\n        \n        p {\n            font-size: 15px;\n            margin-bottom: 15px;\n        }\n        \n        .highlight { color: #ED64A6; font-weight: 600; }\n\n        /* Estilos para los botones de acción */\n        .button-container {\n            margin: 30px 0;\n            text-align: center;\n        }\n\n        .btn {\n            display: inline-block;\n            padding: 12px 20px;\n            text-decoration: none;\n            border-radius: 6px;\n            font-weight: bold;\n            font-size: 14px;\n            margin: 5px;\n            transition: opacity 0.2s;\n        }\n\n        .btn-approve { background-color: #4CAF50; color: #ffffff !important; }\n        .btn-reject { background-color: #f44336; color: #ffffff !important; }\n        \n        .footer-note {\n            font-size: 12px;\n            color: #a0aec0;\n            text-align: center;\n            padding: 15px;\n            font-style: italic;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"email-container\">\n            <div class=\"top-accent\"></div>\n            \n            <div class=\"body-content\">\n                <div class=\"title\">\n                    Autorizaci&oacute;n de Env&iacute;o\n                    <span class=\"company-subtitle\">Akienvio SAS - Sistema de Gesti&oacute;n</span>\n                </div>\n                \n                <p>Hola, <strong>Jorge</strong>.</p>\n                \n                <p>El flujo autom&aacute;tico ha generado el archivo de sucursales adjunto en este correo. Por favor, rev&iacute;salo y confirma si podemos proceder con el env&iacute;o a <span class=\"highlight\">Inter Rapid&iacute;simo</span>.</p>\n                \n                <div class=\"button-container\">\n                    <a href=\"{{$execution.resumeUrl}}?decision=aprobar\" class=\"btn btn-approve\">✔️ APROBAR ENV&Iacute;O</a>\n                    <a href=\"{{$execution.resumeUrl}}?decision=rechazar\" class=\"btn btn-reject\">❌ RECHAZAR</a>\n                </div>\n\n                <p>Quedamos a la espera de tu acci&oacute;n para continuar con el proceso.</p>\n            </div>\n\n            <div class=\"footer-note\">\n                Este es un mensaje automatizado generado por el sistema AkiBot.\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        464
      ],
      "id": "b10cc1be-cc16-4f0d-8137-fecc2cf32dbc",
      "name": "Solicitar Aprobación",
      "executeOnce": true,
      "webhookId": "37b96c0e-8ea1-428b-ab87-ab79c28e4f14",
      "credentials": {
        "gmailOAuth2": {
          "id": "E6A3o0KS4UfkMlS3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        464
      ],
      "id": "1ac8a93e-ef0e-477f-b8aa-8b57c5ca253d",
      "name": "Wait for Approval",
      "webhookId": "d571f645-d6bf-42cb-bbe0-f0e768e41d4c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condicion-aprobacion",
              "leftValue": "={{ $json.query.decision }}",
              "rightValue": "aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        464
      ],
      "id": "c1a18384-28b3-466d-86d6-aedbe65e5eb8",
      "name": "Verificar Aprobación"
    },
    {
      "parameters": {
        "jsCode": "// Tras pausarse el flujo por el webhook, recuperamos el archivo de la memoria\nreturn $('Download file1').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        464
      ],
      "id": "eabd48ca-2a2e-4176-b6b7-d6f47f279b21",
      "name": "Recuperar Archivo"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        560
      ],
      "id": "06a97d24-e7ec-466d-a2b5-2b936bcdc3c2",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "¿ENVIADO POR CORREO?",
              "lookupValue": "NO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        560
      ],
      "id": "8c676c76-d587-46d2-ac61-a74219cfd21d",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1bPMWWtHX3SEOL_z5PjhIE8hGQGPy28-FPmSSbqUE3oU",
          "mode": "list",
          "cachedResultName": "plantillaSucursales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bPMWWtHX3SEOL_z5PjhIE8hGQGPy28-FPmSSbqUE3oU/edit?usp=drivesdk"
        },
        "name": "=AKIENVIO S.A.S SUCURSALES {{$now.toFormat('dd.MM.yyyy')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        464
      ],
      "id": "6cac70d5-5165-4cb7-88be-11d2741bd2b5",
      "name": "Copy file1",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Jt9zaytK5uu24AB1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41093930-21fe-4fc3-bf5e-ccd7ed98c35c",
              "leftValue": "={{ $input.all().length > 0\n}})",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        560
      ],
      "id": "1a39a3b6-6088-4155-b3e5-8cd8647e81bd",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Esto vuelve a traer al flujo todos los datos de la consulta original\nreturn $('Get row(s) in sheet1').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        464
      ],
      "id": "fbff1200-4bef-46e9-ae18-7b8e1532069f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $item(0).$node[\"Copy file1\"].json[\"id\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1745303911,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xj5j1KmZn2TDQiLdkukfk4GdorrJxKNiaguMmGeKNgY/edit#gid=1745303911"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE DE LA EMPRESA": "={{ $('Get row(s) in sheet1').item.json['NOMBRE DE LA EMPRESA'] }}",
            "NIT": "={{ $('Get row(s) in sheet1').item.json.NIT }}",
            "PERSONA RESPONSABLE DEL PAGO": "={{ $('Get row(s) in sheet1').item.json['PERSONA RESPONSABLE DEL PAGO'] }}",
            "HORARIO DE RECOGIDA": "={{ $('Get row(s) in sheet1').item.json['HORARIO DE RECOGIDA'] }}",
            "E-MAIL": "={{ $('Get row(s) in sheet1').item.json['E-MAIL'] }}",
            "CIUDAD PRESTACIÓN SERVICIO": "={{ $('Get row(s) in sheet1').item.json['CIUDAD PRESTACIÓN SERVICIO'] }}",
            "DIRECCIÓN": "={{ $('Get row(s) in sheet1').item.json['DIRECCIÓN'] }}",
            "TELÉFONO": "={{ $('Get row(s) in sheet1').item.json['TELÉFONO'] }}",
            "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO": "={{ $('Get row(s) in sheet1').item.json['CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOMBRE DE LA EMPRESA",
              "displayName": "NOMBRE DE LA EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID SUCURSAL",
              "displayName": "ID SUCURSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT",
              "displayName": "NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "displayName": "CONTACTO Y/0 PERSONA RESPONSABLE DEL ENVÍO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIRECCIÓN",
              "displayName": "DIRECCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CIUDAD PRESTACIÓN SERVICIO",
              "displayName": "CIUDAD PRESTACIÓN SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PERSONA RESPONSABLE DEL PAGO",
              "displayName": "PERSONA RESPONSABLE DEL PAGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORARIO DE RECOGIDA",
              "displayName": "HORARIO DE RECOGIDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        464
      ],
      "id": "ba875ad9-7b10-47d6-9cfd-81ae6e00de68",
      "name": "Append row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy file1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          },
          "fileName": "=SUCURSALES AKIENVIO S.A.S {{ $today.toFormat('dd-MM-yyyy') }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        464
      ],
      "id": "8f91dbb1-6702-4a9e-920c-7bb2b00f134a",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Jt9zaytK5uu24AB1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jorgeptn@gmail.com;Ejecutivodepuntos.bogota@interrapidisimo.com;supervisor.clientescorporativos@interrapidisimo.com;auxiliar.canales2@interrapidisimo.com;coordinador.ventascorporativas1@interrapidisimo.com;subgerente.cuentasclave@interrapidisimo.com;supervisor.clientescorporativos1@interrapidisimo.com;supervisor.puntosmoviles3@interrapidisimo.com",
        "subject": "={{ $('Copy file1').item.json.name }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { margin: 0; padding: 0; background-color: #f4f7f6; }\n        .email-wrapper { width: 100%; background-color: #f4f7f6; padding: 25px 0; }\n        \n        .email-container {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            color: #2d3748;\n            line-height: 1.5;\n            max-width: 580px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border: 1px solid #e2e8f0;\n            border-radius: 10px;\n            overflow: hidden;\n            text-align: left;\n        }\n        \n        .top-accent { background-color: #ED64A6; height: 6px; }\n\n        .body-content { padding: 35px 30px; }\n        \n        /* Título principal en Magenta */\n        .title {\n            color: #ED64A6;\n            font-size: 20px;\n            font-weight: bold;\n            margin-bottom: 20px;\n            border-bottom: 1px solid #fed7e4;\n            padding-bottom: 10px;\n        }\n\n        /* Subtítulo en el mismo Magenta, pero más pequeño (11px) */\n        .company-subtitle {\n            display: block;\n            font-size: 11px;\n            font-weight: 600; /* Un poco de grosor para que se lea bien en magenta */\n            color: #ED64A6;\n            margin-top: 4px;\n            text-transform: uppercase;\n            letter-spacing: 0.8px;\n        }\n        \n        p {\n            font-size: 15px;\n            margin-bottom: 15px;\n        }\n        \n        .highlight { color: #ED64A6; font-weight: 600; }\n        \n        .signature-section {\n            padding: 25px 30px;\n            background-color: #fffafc;\n            border-top: 1px solid #fed7e4;\n        }\n        \n        .sig-name {\n            font-weight: bold;\n            color: #ED64A6;\n            font-size: 17px;\n            margin: 0;\n        }\n        \n        .sig-info {\n            font-size: 13px;\n            color: #4a5568;\n            margin: 2px 0;\n        }\n        \n        .sig-role {\n            font-size: 12px;\n            color: #718096;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-top: 4px;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"email-container\">\n            <div class=\"top-accent\"></div>\n            \n            <div class=\"body-content\">\n                <div class=\"title\">\n                    Creaci&oacute;n de Sucursales\n                    <span class=\"company-subtitle\">Akienvio SAS - NIT: 9001702784</span>\n                </div>\n                \n                <p>Buen d&iacute;a, <strong>Kevin</strong>.</p>\n                \n                <p>Esperamos que te encuentres muy bien.</p>\n                \n                <p>Te hacemos entrega del archivo adjunto necesario para la <span class=\"highlight\">creaci&oacute;n de las sucursales</span>. Te agradecemos procesar esta informaci&oacute;n para poner al d&iacute;a los registros que tenemos pendientes.</p>\n                \n                <p>Cualquier duda adicional que surja durante el proceso, quedamos atentos para apoyarte de inmediato.</p>\n            </div>\n\n            <div class=\"signature-section\">\n                <p style=\"margin: 0 0 10px 0; font-size: 13px; color: #718096;\">Cordialmente,</p>\n                <p class=\"sig-name\">Jorge Pati&ntilde;o</p>\n                <p class=\"sig-info\">Cel: 3203453744</p>\n                <p class=\"sig-role\">Director de Operaciones</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1872,
        464
      ],
      "id": "9f5ce2fd-9a12-4c2d-8522-ebda2adf3a1b",
      "name": "Send a message1",
      "webhookId": "91b3ada4-1783-4c3f-9618-919eab1458f2",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "E6A3o0KS4UfkMlS3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Esto vuelve a traer al flujo todos los datos de la consulta original\nreturn $('Get row(s) in sheet1').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        464
      ],
      "id": "7d4915a0-534e-44e8-9f93-7c470ab480cd",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4",
          "mode": "list",
          "cachedResultName": "AKIENVIO S.A.S SUCURSALES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 139350032,
          "mode": "list",
          "cachedResultName": "Copia de  GEC-COR-R-07",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rSVz_HWHIWiEeqMqLV4Wm61lvqjC2ujeqD63AFOFWf4/edit#gid=139350032"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "¿ENVIADO POR CORREO?": "SI"
          },
          "matchingColumns": [
            "row_number"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        464
      ],
      "id": "b75db56e-9767-41a1-bdf0-c30fb8b822eb",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        656
      ],
      "id": "a55b8da3-62dc-4e17-be79-df32415bea28",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Activación del Flujo y Filtrado\n**Ejecución Programada:** El flujo se activa automáticamente a las 17:00 hrs. En esta etapa, el sistema consulta la base de datos y filtra los nuevos registros correspondientes a las sucursales que se encuentran pendientes de inscripción.",
        "height": 240,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        112
      ],
      "typeVersion": 1,
      "id": "65152108-ffb7-46e3-9df7-79c051627b08",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Generación de Documento\nEl sistema clona el archivo maestro `plantillaSucursales` y lo renombra dinámicamente utilizando la fecha de ejecución. A continuación, consolida e inserta de forma automática la información detallada de todas las sucursales pendientes dentro de esta nueva hoja de cálculo.",
        "height": 240,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        112
      ],
      "typeVersion": 1,
      "id": "413102bc-0c8c-4a6d-b241-68f6d7fdc50b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Aprobación y Distribución\nSe envía un correo de validación con el archivo Excel adjunto, el cual incluye botones de acción interactivos para \"Aprobar\" o \"Rechazar\" el proceso. Una vez aprobado, el sistema despacha un correo corporativo al equipo de Inter Rapidísimo (con copias internas) para hacer la entrega oficial del documento autorizado.\n\nPara finalizar, el flujo itera sobre el identificador `row_number` de cada registro en el archivo maestro original, actualizando el estado de la columna `¿ENVIADO POR CORREO?` a \"SI\" y cerrando así el ciclo operativo.",
        "height": 128,
        "width": 1504,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        112
      ],
      "typeVersion": 1,
      "id": "cb79a4c5-16eb-4a64-9b3b-a022b2acb764",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -336,
        -64
      ],
      "id": "1e285de0-e4e4-4f5c-8b49-7cb9b7d80a58",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T03:53:48.513Z",
      "createdAt": "2026-01-13T03:53:48.513Z",
      "role": "workflow:owner",
      "workflowId": "zQ-8lqPtwSRNSIrY09cbr",
      "projectId": "E56trdgxInvxGA6Y",
      "project": {
        "updatedAt": "2026-01-12T22:50:30.978Z",
        "createdAt": "2026-01-12T21:05:23.614Z",
        "id": "E56trdgxInvxGA6Y",
        "name": "jorge Patino <jorgeptn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T21:05:23.619Z",
            "createdAt": "2026-01-12T21:05:23.619Z",
            "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
            "projectId": "E56trdgxInvxGA6Y",
            "user": {
              "updatedAt": "2026-03-03T05:00:02.000Z",
              "createdAt": "2026-01-12T21:05:23.596Z",
              "id": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
              "email": "jorgeptn@gmail.com",
              "firstName": "jorge",
              "lastName": "Patino",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T22:51:32.120Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "zQ-8lqPtwSRNSIrY09cbr",
                "userActivated": true,
                "userActivatedAt": 1768360374572,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772502543338
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-03-03T02:43:55.000Z",
  "versionCounter": 69,
  "versionId": "ae6e8007-f7e0-47c9-a6bf-057b50185fbd"
}