novedadDestinatarioDireccion.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T04:15:34.000Z",
    "createdAt": "2026-03-12T04:15:32.143Z",
    "versionId": "31661205-fbd0-491c-87bd-7c5f6ccf9ac9",
    "workflowId": "yoxhAe4eAWiZhPd9",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          496,
          1200
        ]
      },
      {
        "parameters": {
          "content": "## 1) Entrada\nRecibe el payload de Slack desde `slackRouter`, consolida el texto del mensaje y valida que la novedad corresponda a un problema con el destinatario.",
          "height": 180,
          "width": 420,
          "color": 7
        },
        "id": "0a887fbe-4ff5-4646-bca8-8a1d6fc0d590",
        "name": "DOC - Entrada",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          896,
          912
        ]
      },
      {
        "parameters": {
          "content": "## 2) Preparacion\nExtrae guía, usuario, paquetería, servicio, novedad y destino. Luego normaliza ciudad/teléfono y conserva el payload resumido para auditoría.",
          "height": 180,
          "width": 430,
          "color": 4
        },
        "id": "8d58044d-a2c4-4a5b-90f3-6c6efbb81e54",
        "name": "DOC - Preparacion",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1488,
          912
        ]
      },
      {
        "parameters": {
          "content": "## 3) Salida\nCompone el texto de WhatsApp, guarda el resultado en Google Sheets y estandariza errores para observabilidad.",
          "height": 180,
          "width": 430,
          "color": 6
        },
        "id": "76e98bd2-b811-4eb4-a575-c5ffe17cfded",
        "name": "DOC - Salida",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2112,
          880
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nfunction collectText(value, acc) {\n  if (value == null) return;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (trimmed) acc.push(trimmed);\n    return;\n  }\n  if (Array.isArray(value)) {\n    for (const entry of value) collectText(entry, acc);\n    return;\n  }\n  if (typeof value === 'object') {\n    for (const key of ['text', 'fallback', 'title', 'pretext']) {\n      if (value[key]) collectText(value[key], acc);\n    }\n    if (value.blocks) collectText(value.blocks, acc);\n    if (value.elements) collectText(value.elements, acc);\n    if (value.fields) collectText(value.fields, acc);\n    if (value.attachments) collectText(value.attachments, acc);\n    if (value.message) collectText(value.message, acc);\n    if (value.previous_message) collectText(value.previous_message, acc);\n  }\n}\n\nreturn items.map((item) => {\n  const source = item.json || {};\n  const chunks = [];\n  collectText(source.text, chunks);\n  collectText(source.blocks, chunks);\n  collectText(source.attachments, chunks);\n  collectText(source.message, chunks);\n  collectText(source.previous_message, chunks);\n\n  const textoCompleto = chunks.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n\n  return {\n    json: {\n      ...source,\n      textoCompleto,\n      payloadResumen: textoCompleto.slice(0, 1200),\n    },\n    pairedItem: item.pairedItem,\n  };\n});"
        },
        "id": "048bd91e-68a1-4b34-ac78-631afd08b48f",
        "name": "Consolidar texto Slack",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1200
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nfunction firstMatch(text, regex, fallback = null) {\n  const match = text.match(regex);\n  return match ? match[1].trim() : fallback;\n}\n\nfunction normalizeMail(raw) {\n  if (!raw) return null;\n  const mailto = raw.match(/<mailto:([^|>]+)(?:\\|[^>]+)?>/i);\n  return mailto ? mailto[1].trim() : raw.trim();\n}\n\nreturn items.map((item) => {\n  const text = item.json.textoCompleto || '';\n  const lowered = text\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n\n  if (!text) {\n    return { json: { ...item.json, ok: false, stage: 'extract', error: 'No se encontró texto util en el payload de Slack' } };\n  }\n\n  const guia = firstMatch(text, /gu[ií]a\\s*(\\d{8,})/i);\n  const usuario = normalizeMail(firstMatch(text, /USUARIO:\\s*(.+)/i));\n  const paqueteria = firstMatch(text, /PAQUETERIA:\\s*(.+)/i);\n  const servicio = firstMatch(text, /SERVICIO:\\s*(.+)/i);\n  const novedad = firstMatch(text, /NOVEDAD:\\s*([\\s\\S]*?)(?=\\*?--DESTINO--\\*?|$)/i, '');\n  const ciudad = firstMatch(text, /CIUDAD:\\s*(.+)/i);\n  const direccion = firstMatch(text, /DIRECCI[ÓO]N:\\s*(.+)/i);\n  const depApto = firstMatch(text, /DEP\\/APTO:\\s*(.+)/i, '');\n  const zipCode = firstMatch(text, /ZIP_CODE:\\s*(.+)/i, '');\n  const telefono = firstMatch(text, /TEL[EÉ]FONO:\\s*([+()\\d\\s.-]+)/i);\n\n  const esProblemaDestinatario = lowered.includes('problema con el destinatario') || lowered.includes('no logra encontrar la direccion') || lowered.includes('direccion esta incompleta');\n\n  if (!esProblemaDestinatario) {\n    return {\n      json: {\n        ...item.json,\n        ok: false,\n        stage: 'filter',\n        error: 'La novedad no corresponde a problema con el destinatario',\n        guia: guia || null,\n        tipoResultado: 'ignored',\n      },\n    };\n  }\n\n  const missing = [];\n  if (!guia) missing.push('guia');\n  if (!ciudad) missing.push('ciudad');\n  if (!telefono) missing.push('telefono');\n  if (!novedad) missing.push('novedad');\n\n  if (missing.length) {\n    return {\n      json: {\n        ...item.json,\n        ok: false,\n        stage: 'extract',\n        error: 'Faltan campos requeridos: ' + missing.join(', '),\n        guia: guia || null,\n        usuario: usuario || null,\n        paqueteria: paqueteria || null,\n        servicio: servicio || null,\n      },\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      ok: true,\n      guia,\n      usuario,\n      paqueteria,\n      servicio,\n      novedad,\n      ciudad,\n      direccion,\n      dep_apto: depApto,\n      zip_code: zipCode,\n      telefono,\n      tipoNovedad: 'problema_destinatario',\n    },\n  };\n});"
        },
        "id": "15b3fa09-c826-4d28-89c5-058c44a228d7",
        "name": "Validar y extraer datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          1200
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "aa3a667c-a40c-40aa-abed-162dae896b6d",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "dcab983c-aa6f-4c33-9639-f56fd9e12f32",
        "name": "Datos validos?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1328,
          1200
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const j = { ...item.json };\n  const telefonoOriginal = String(j.telefono || '');\n  let telefono = telefonoOriginal.replace(/\\D/g, '');\n\n  if (telefono.length === 10) telefono = '57' + telefono;\n\n  const ciudadOriginal = String(j.ciudad || '').trim();\n  const ciudadBase = ciudadOriginal.split('(')[0].trim();\n\n  if (!telefono || telefono.length < 12) {\n    return {\n      json: {\n        ...j,\n        ok: false,\n        stage: 'normalize',\n        error: 'Telefono invalido tras normalizacion',\n        telefonoOriginal,\n      },\n    };\n  }\n\n  return {\n    json: {\n      ...j,\n      ok: true,\n      telefonoOriginal,\n      telefono,\n      ciudadOriginal,\n      ciudad: ciudadBase || ciudadOriginal,\n      direccionOriginal: j.direccion || '',\n    },\n  };\n});"
        },
        "id": "7b92192a-fa0c-4b5b-9544-177415a3c589",
        "name": "Normalizar datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          1120
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const j = { ...item.json };\n\n  // 1. Validación de datos críticos\n  if (!j.telefono || !j.guia || !j.ciudad) {\n    return {\n      json: {\n        ...j,\n        ok: false,\n        stage: 'compose',\n        error: 'Faltan datos críticos para construir el mensaje',\n      },\n    };\n  }\n\n  const paqueteria = j.paqueteria || 'La transportadora';\n  \n  // 2. Limpieza del teléfono para el link de WhatsApp (Elimina cualquier cosa que no sea número)\n  const telefonoLimpio = String(j.telefono).replace(/\\D/g, '');\n\n  // 3. Construcción del mensaje (Se usa \\n para los saltos de línea correctos en código)\nconst mensaje = [\n    'Hola, tu envío con guía *' + j.guia + '* presenta una novedad.',\n    '',\n    paqueteria + ' no logra encontrar la dirección de entrega 📍. Por favor, confirma la siguiente información:',\n    '',\n    '*Dirección:*',\n    '*Complementos (torre, apartamento, piso, etc):*',\n    '*Barrio:*',\n    '*Ciudad/municipio de entrega:*',\n    '*Puntos de referencia:*',\n    '',\n    'Esto nos ayudará a ubicar la dirección correcta y realizar la entrega de manera efectiva. '\n  ].join('\\n'); // <--- Aquí estaba el error. Debe usarse \\n\n\n  // 4. Retorno de datos con el enlace de WhatsApp codificado\n  return {\n    json: {\n      ...j,\n      ok: true,\n      mensajeWhatsapp: mensaje,\n      // Se genera el link usando el teléfono limpio y el texto codificado para URL\n      enlaceWhatsapp: 'https://wa.me/' + telefonoLimpio + '?text=' + encodeURIComponent(mensaje),\n      canal: j.channel || null,\n      timestampSlack: j.ts || j.event_ts || null,\n      workflow: 'novedadDestinatarioDireccion',\n    },\n  };\n});"
        },
        "id": "69fc4235-1bad-423d-b15c-ca31a7ddaae1",
        "name": "Construir mensaje y enlace",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1776,
          1120
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "df6a9dfd-def4-44d0-a8fd-21c6f4766e26",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ed1b91fd-e199-4d58-96fb-c0952cfc3f68",
        "name": "Sin errores?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2000,
          1120
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
            "mode": "list",
            "cachedResultName": "Oficinas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 91923231,
            "mode": "list",
            "cachedResultName": "novedadesDireccion",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit#gid=91923231"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Guia": "={{ $json.guia }}",
              "Telefono": "={{ $json.telefono }}",
              "Ciudad": "={{ $json.ciudad }}",
              "Paqueteria": "={{ $json.paqueteria }}",
              "Mensaje": "={{ $json.enlaceWhatsapp }}",
              "TimestampSlack": "={{ $json.timestampSlack }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Guia",
                "displayName": "Guia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefono",
                "displayName": "Telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Paqueteria",
                "displayName": "Paqueteria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Ciudad",
                "displayName": "Ciudad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Mensaje",
                "displayName": "Mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TimestampSlack",
                "displayName": "TimestampSlack",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Novedad",
                "displayName": "Novedad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Canal",
                "displayName": "Canal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "8df34286-141a-4b63-97dc-60131a8b2c2c",
        "name": "Guardar exito en hoja",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2224,
          1072
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pE73l5Kd3TQ63AuS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const source = $json || {};\nconst error = source.error || 'Error no especificado';\n\nreturn [{\n  json: {\n    ok: false,\n    workflow: 'novedadDestinatarioDireccion',\n    stage: source.stage || 'unknown',\n    error,\n    guia: source.guia || null,\n    payloadResumen: source.payloadResumen || (source.textoCompleto || '').slice(0, 1200),\n    timestamp: new Date().toISOString(),\n  },\n}];"
        },
        "id": "a80decaf-c999-4e5e-992c-795cd33f9ebe",
        "name": "Estandarizar error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2224,
          1296
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
            "mode": "list",
            "cachedResultName": "Oficinas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 603101220,
            "mode": "list",
            "cachedResultName": "novedadesDireccionesErrores",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit#gid=603101220"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Workflow": "={{ $json.workflow }}",
              "Stage": "={{ $json.stage }}",
              "Guia": "={{ $json.guia }}",
              "PayloadResumen": "={{ $json.payloadResumen }}",
              "Timestamp": "={{ $json.timestamp }}",
              "Error": "={{ $json.error }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Workflow",
                "displayName": "Workflow",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Stage",
                "displayName": "Stage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Error",
                "displayName": "Error",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Guia",
                "displayName": "Guia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PayloadResumen",
                "displayName": "PayloadResumen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "b4277dee-aa46-46fb-8177-386464d4440e",
        "name": "Guardar error en hoja",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2448,
          1296
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pE73l5Kd3TQ63AuS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "id": "82da0bba-9322-4c78-a027-3cb91f5f6f54",
        "name": "Fin OK",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2448,
          1072
        ]
      },
      {
        "parameters": {},
        "id": "333aacec-50a3-439d-8df6-327bf79f80ff",
        "name": "Fin Error",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2672,
          1296
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Consolidar texto Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidar texto Slack": {
        "main": [
          [
            {
              "node": "Validar y extraer datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar y extraer datos": {
        "main": [
          [
            {
              "node": "Datos validos?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos validos?": {
        "main": [
          [
            {
              "node": "Normalizar datos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Estandarizar error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar datos": {
        "main": [
          [
            {
              "node": "Construir mensaje y enlace",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir mensaje y enlace": {
        "main": [
          [
            {
              "node": "Sin errores?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sin errores?": {
        "main": [
          [
            {
              "node": "Guardar exito en hoja",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Estandarizar error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar exito en hoja": {
        "main": [
          [
            {
              "node": "Fin OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Estandarizar error": {
        "main": [
          [
            {
              "node": "Guardar error en hoja",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar error en hoja": {
        "main": [
          [
            {
              "node": "Fin Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jorge Patino",
    "name": "Version 31661205",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-12T04:15:34.192Z",
        "id": 71,
        "workflowId": "yoxhAe4eAWiZhPd9",
        "versionId": "31661205-fbd0-491c-87bd-7c5f6ccf9ac9",
        "event": "activated",
        "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787"
      }
    ]
  },
  "activeVersionId": "31661205-fbd0-491c-87bd-7c5f6ccf9ac9",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Consolidar texto Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar texto Slack": {
      "main": [
        [
          {
            "node": "Validar y extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y extraer datos": {
      "main": [
        [
          {
            "node": "Datos validos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos validos?": {
      "main": [
        [
          {
            "node": "Normalizar datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estandarizar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos": {
      "main": [
        [
          {
            "node": "Construir mensaje y enlace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir mensaje y enlace": {
      "main": [
        [
          {
            "node": "Sin errores?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin errores?": {
      "main": [
        [
          {
            "node": "Guardar exito en hoja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estandarizar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar exito en hoja": {
      "main": [
        [
          {
            "node": "Fin OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estandarizar error": {
      "main": [
        [
          {
            "node": "Guardar error en hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar error en hoja": {
      "main": [
        [
          {
            "node": "Fin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-12T01:17:40.380Z",
  "description": null,
  "id": "yoxhAe4eAWiZhPd9",
  "isArchived": false,
  "meta": null,
  "name": "novedadDestinatarioDireccion",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        496,
        1200
      ]
    },
    {
      "parameters": {
        "content": "## 1) Entrada\nRecibe el payload de Slack desde `slackRouter`, consolida el texto del mensaje y valida que la novedad corresponda a un problema con el destinatario.",
        "height": 180,
        "width": 420,
        "color": 7
      },
      "id": "0a887fbe-4ff5-4646-bca8-8a1d6fc0d590",
      "name": "DOC - Entrada",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        912
      ]
    },
    {
      "parameters": {
        "content": "## 2) Preparacion\nExtrae guía, usuario, paquetería, servicio, novedad y destino. Luego normaliza ciudad/teléfono y conserva el payload resumido para auditoría.",
        "height": 180,
        "width": 430,
        "color": 4
      },
      "id": "8d58044d-a2c4-4a5b-90f3-6c6efbb81e54",
      "name": "DOC - Preparacion",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        912
      ]
    },
    {
      "parameters": {
        "content": "## 3) Salida\nCompone el texto de WhatsApp, guarda el resultado en Google Sheets y estandariza errores para observabilidad.",
        "height": 180,
        "width": 430,
        "color": 6
      },
      "id": "76e98bd2-b811-4eb4-a575-c5ffe17cfded",
      "name": "DOC - Salida",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction collectText(value, acc) {\n  if (value == null) return;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (trimmed) acc.push(trimmed);\n    return;\n  }\n  if (Array.isArray(value)) {\n    for (const entry of value) collectText(entry, acc);\n    return;\n  }\n  if (typeof value === 'object') {\n    for (const key of ['text', 'fallback', 'title', 'pretext']) {\n      if (value[key]) collectText(value[key], acc);\n    }\n    if (value.blocks) collectText(value.blocks, acc);\n    if (value.elements) collectText(value.elements, acc);\n    if (value.fields) collectText(value.fields, acc);\n    if (value.attachments) collectText(value.attachments, acc);\n    if (value.message) collectText(value.message, acc);\n    if (value.previous_message) collectText(value.previous_message, acc);\n  }\n}\n\nreturn items.map((item) => {\n  const source = item.json || {};\n  const chunks = [];\n  collectText(source.text, chunks);\n  collectText(source.blocks, chunks);\n  collectText(source.attachments, chunks);\n  collectText(source.message, chunks);\n  collectText(source.previous_message, chunks);\n\n  const textoCompleto = chunks.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n\n  return {\n    json: {\n      ...source,\n      textoCompleto,\n      payloadResumen: textoCompleto.slice(0, 1200),\n    },\n    pairedItem: item.pairedItem,\n  };\n});"
      },
      "id": "048bd91e-68a1-4b34-ac78-631afd08b48f",
      "name": "Consolidar texto Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction firstMatch(text, regex, fallback = null) {\n  const match = text.match(regex);\n  return match ? match[1].trim() : fallback;\n}\n\nfunction normalizeMail(raw) {\n  if (!raw) return null;\n  const mailto = raw.match(/<mailto:([^|>]+)(?:\\|[^>]+)?>/i);\n  return mailto ? mailto[1].trim() : raw.trim();\n}\n\nreturn items.map((item) => {\n  const text = item.json.textoCompleto || '';\n  const lowered = text\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n\n  if (!text) {\n    return { json: { ...item.json, ok: false, stage: 'extract', error: 'No se encontró texto util en el payload de Slack' } };\n  }\n\n  const guia = firstMatch(text, /gu[ií]a\\s*(\\d{8,})/i);\n  const usuario = normalizeMail(firstMatch(text, /USUARIO:\\s*(.+)/i));\n  const paqueteria = firstMatch(text, /PAQUETERIA:\\s*(.+)/i);\n  const servicio = firstMatch(text, /SERVICIO:\\s*(.+)/i);\n  const novedad = firstMatch(text, /NOVEDAD:\\s*([\\s\\S]*?)(?=\\*?--DESTINO--\\*?|$)/i, '');\n  const ciudad = firstMatch(text, /CIUDAD:\\s*(.+)/i);\n  const direccion = firstMatch(text, /DIRECCI[ÓO]N:\\s*(.+)/i);\n  const depApto = firstMatch(text, /DEP\\/APTO:\\s*(.+)/i, '');\n  const zipCode = firstMatch(text, /ZIP_CODE:\\s*(.+)/i, '');\n  const telefono = firstMatch(text, /TEL[EÉ]FONO:\\s*([+()\\d\\s.-]+)/i);\n\n  const esProblemaDestinatario = lowered.includes('problema con el destinatario') || lowered.includes('no logra encontrar la direccion') || lowered.includes('direccion esta incompleta');\n\n  if (!esProblemaDestinatario) {\n    return {\n      json: {\n        ...item.json,\n        ok: false,\n        stage: 'filter',\n        error: 'La novedad no corresponde a problema con el destinatario',\n        guia: guia || null,\n        tipoResultado: 'ignored',\n      },\n    };\n  }\n\n  const missing = [];\n  if (!guia) missing.push('guia');\n  if (!ciudad) missing.push('ciudad');\n  if (!telefono) missing.push('telefono');\n  if (!novedad) missing.push('novedad');\n\n  if (missing.length) {\n    return {\n      json: {\n        ...item.json,\n        ok: false,\n        stage: 'extract',\n        error: 'Faltan campos requeridos: ' + missing.join(', '),\n        guia: guia || null,\n        usuario: usuario || null,\n        paqueteria: paqueteria || null,\n        servicio: servicio || null,\n      },\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      ok: true,\n      guia,\n      usuario,\n      paqueteria,\n      servicio,\n      novedad,\n      ciudad,\n      direccion,\n      dep_apto: depApto,\n      zip_code: zipCode,\n      telefono,\n      tipoNovedad: 'problema_destinatario',\n    },\n  };\n});"
      },
      "id": "15b3fa09-c826-4d28-89c5-058c44a228d7",
      "name": "Validar y extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa3a667c-a40c-40aa-abed-162dae896b6d",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dcab983c-aa6f-4c33-9639-f56fd9e12f32",
      "name": "Datos validos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const j = { ...item.json };\n  const telefonoOriginal = String(j.telefono || '');\n  let telefono = telefonoOriginal.replace(/\\D/g, '');\n\n  if (telefono.length === 10) telefono = '57' + telefono;\n\n  const ciudadOriginal = String(j.ciudad || '').trim();\n  const ciudadBase = ciudadOriginal.split('(')[0].trim();\n\n  if (!telefono || telefono.length < 12) {\n    return {\n      json: {\n        ...j,\n        ok: false,\n        stage: 'normalize',\n        error: 'Telefono invalido tras normalizacion',\n        telefonoOriginal,\n      },\n    };\n  }\n\n  return {\n    json: {\n      ...j,\n      ok: true,\n      telefonoOriginal,\n      telefono,\n      ciudadOriginal,\n      ciudad: ciudadBase || ciudadOriginal,\n      direccionOriginal: j.direccion || '',\n    },\n  };\n});"
      },
      "id": "7b92192a-fa0c-4b5b-9544-177415a3c589",
      "name": "Normalizar datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const j = { ...item.json };\n\n  // 1. Validación de datos críticos\n  if (!j.telefono || !j.guia || !j.ciudad) {\n    return {\n      json: {\n        ...j,\n        ok: false,\n        stage: 'compose',\n        error: 'Faltan datos críticos para construir el mensaje',\n      },\n    };\n  }\n\n  const paqueteria = j.paqueteria || 'La transportadora';\n  \n  // 2. Limpieza del teléfono para el link de WhatsApp (Elimina cualquier cosa que no sea número)\n  const telefonoLimpio = String(j.telefono).replace(/\\D/g, '');\n\n  // 3. Construcción del mensaje (Se usa \\n para los saltos de línea correctos en código)\nconst mensaje = [\n    'Hola, tu envío con guía *' + j.guia + '* presenta una novedad.',\n    '',\n    paqueteria + ' no logra encontrar la dirección de entrega 📍. Por favor, confirma la siguiente información:',\n    '',\n    '*Dirección:*',\n    '*Complementos (torre, apartamento, piso, etc):*',\n    '*Barrio:*',\n    '*Ciudad/municipio de entrega:*',\n    '*Puntos de referencia:*',\n    '',\n    'Esto nos ayudará a ubicar la dirección correcta y realizar la entrega de manera efectiva. '\n  ].join('\\n'); // <--- Aquí estaba el error. Debe usarse \\n\n\n  // 4. Retorno de datos con el enlace de WhatsApp codificado\n  return {\n    json: {\n      ...j,\n      ok: true,\n      mensajeWhatsapp: mensaje,\n      // Se genera el link usando el teléfono limpio y el texto codificado para URL\n      enlaceWhatsapp: 'https://wa.me/' + telefonoLimpio + '?text=' + encodeURIComponent(mensaje),\n      canal: j.channel || null,\n      timestampSlack: j.ts || j.event_ts || null,\n      workflow: 'novedadDestinatarioDireccion',\n    },\n  };\n});"
      },
      "id": "69fc4235-1bad-423d-b15c-ca31a7ddaae1",
      "name": "Construir mensaje y enlace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df6a9dfd-def4-44d0-a8fd-21c6f4766e26",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed1b91fd-e199-4d58-96fb-c0952cfc3f68",
      "name": "Sin errores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
          "mode": "list",
          "cachedResultName": "Oficinas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 91923231,
          "mode": "list",
          "cachedResultName": "novedadesDireccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit#gid=91923231"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Guia": "={{ $json.guia }}",
            "Telefono": "={{ $json.telefono }}",
            "Ciudad": "={{ $json.ciudad }}",
            "Paqueteria": "={{ $json.paqueteria }}",
            "Mensaje": "={{ $json.enlaceWhatsapp }}",
            "TimestampSlack": "={{ $json.timestampSlack }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Guia",
              "displayName": "Guia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paqueteria",
              "displayName": "Paqueteria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TimestampSlack",
              "displayName": "TimestampSlack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Novedad",
              "displayName": "Novedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Canal",
              "displayName": "Canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8df34286-141a-4b63-97dc-60131a8b2c2c",
      "name": "Guardar exito en hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\nconst error = source.error || 'Error no especificado';\n\nreturn [{\n  json: {\n    ok: false,\n    workflow: 'novedadDestinatarioDireccion',\n    stage: source.stage || 'unknown',\n    error,\n    guia: source.guia || null,\n    payloadResumen: source.payloadResumen || (source.textoCompleto || '').slice(0, 1200),\n    timestamp: new Date().toISOString(),\n  },\n}];"
      },
      "id": "a80decaf-c999-4e5e-992c-795cd33f9ebe",
      "name": "Estandarizar error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        1296
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ",
          "mode": "list",
          "cachedResultName": "Oficinas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 603101220,
          "mode": "list",
          "cachedResultName": "novedadesDireccionesErrores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1abce7Z8eDpqpAdWGkF_3Nwna5WgLdWLGbIis3bjxslQ/edit#gid=603101220"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow": "={{ $json.workflow }}",
            "Stage": "={{ $json.stage }}",
            "Guia": "={{ $json.guia }}",
            "PayloadResumen": "={{ $json.payloadResumen }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Error": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Guia",
              "displayName": "Guia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PayloadResumen",
              "displayName": "PayloadResumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b4277dee-aa46-46fb-8177-386464d4440e",
      "name": "Guardar error en hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        1296
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pE73l5Kd3TQ63AuS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "82da0bba-9322-4c78-a027-3cb91f5f6f54",
      "name": "Fin OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2448,
        1072
      ]
    },
    {
      "parameters": {},
      "id": "333aacec-50a3-439d-8df6-327bf79f80ff",
      "name": "Fin Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2672,
        1296
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-12T01:17:40.388Z",
      "createdAt": "2026-03-12T01:17:40.388Z",
      "role": "workflow:owner",
      "workflowId": "yoxhAe4eAWiZhPd9",
      "projectId": "E56trdgxInvxGA6Y",
      "project": {
        "updatedAt": "2026-01-12T22:50:30.978Z",
        "createdAt": "2026-01-12T21:05:23.614Z",
        "id": "E56trdgxInvxGA6Y",
        "name": "jorge Patino <jorgeptn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T21:05:23.619Z",
            "createdAt": "2026-01-12T21:05:23.619Z",
            "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
            "projectId": "E56trdgxInvxGA6Y",
            "user": {
              "updatedAt": "2026-03-14T00:11:37.000Z",
              "createdAt": "2026-01-12T21:05:23.596Z",
              "id": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
              "email": "jorgeptn@gmail.com",
              "firstName": "jorge",
              "lastName": "Patino",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T22:51:32.120Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "zQ-8lqPtwSRNSIrY09cbr",
                "userActivated": true,
                "userActivatedAt": 1768360374572,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772502543338
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-12T04:15:40.649Z",
  "versionCounter": 29,
  "versionId": "31661205-fbd0-491c-87bd-7c5f6ccf9ac9"
}