slackRouter.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-05T13:58:28.000Z",
    "createdAt": "2026-03-05T01:11:23.790Z",
    "versionId": "38905305-99e8-430e-ae72-4c0fb9306afb",
    "workflowId": "T0fy0KupqZ-O-vJwRrvPq",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.channel }}",
                      "rightValue": "C06V11085AB",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "253b1a12-c384-40e3-ae4d-06a31a724811"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e4bc6432-b02c-4d0e-897c-ce1c4a3e0dfd",
                      "leftValue": "={{ $json.channel }}",
                      "rightValue": "={{ $json.channel }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -48,
          -432
        ],
        "id": "e4e47da8-0df5-4d86-86c7-579bef4c5cfe",
        "name": "Switch"
      },
      {
        "parameters": {
          "trigger": [
            "message"
          ],
          "watchWorkspace": true,
          "options": {}
        },
        "type": "n8n-nodes-base.slackTrigger",
        "typeVersion": 1,
        "position": [
          -272,
          -432
        ],
        "id": "e09481de-68bc-46e6-bb80-fa310ee26290",
        "name": "Slack Trigger",
        "webhookId": "72cb6049-fa31-44c5-aab3-929c742ab3f2",
        "credentials": {
          "slackApi": {
            "id": "Qvlx8HCnkGFVLFOp",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "AlXoZ5kEzwbNZQ2Z",
            "mode": "list",
            "cachedResultUrl": "/workflow/AlXoZ5kEzwbNZQ2Z",
            "cachedResultName": "envioEnOficina"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          192,
          -416
        ],
        "id": "74fda897-edf6-4f9f-b5f9-dbc9e9505cd5",
        "name": "a Envio en Oficina",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZfNMbedDU6HxUWsS",
            "mode": "list",
            "cachedResultUrl": "/workflow/ZfNMbedDU6HxUWsS",
            "cachedResultName": "My Sub-Workflow 2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          192,
          -608
        ],
        "id": "1d5e913c-4a04-4310-a20e-5f2c9bb47023",
        "name": " a Inscripcion Sucursales",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Slack Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": " a Inscripcion Sucursales",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "a Envio en Oficina",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jorge Patino",
    "name": "Version 38905305",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T13:58:28.814Z",
        "id": 54,
        "workflowId": "T0fy0KupqZ-O-vJwRrvPq",
        "versionId": "38905305-99e8-430e-ae72-4c0fb9306afb",
        "event": "activated",
        "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787"
      }
    ]
  },
  "activeVersionId": "38905305-99e8-430e-ae72-4c0fb9306afb",
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": " a Inscripcion Sucursales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "a Envio en Oficina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-03T01:53:45.914Z",
  "description": null,
  "id": "T0fy0KupqZ-O-vJwRrvPq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "slackRouter",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "C06V11085AB",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "253b1a12-c384-40e3-ae4d-06a31a724811"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4bc6432-b02c-4d0e-897c-ce1c4a3e0dfd",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "={{ $json.channel }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -432
      ],
      "id": "e4e47da8-0df5-4d86-86c7-579bef4c5cfe",
      "name": "Switch"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -432
      ],
      "id": "e09481de-68bc-46e6-bb80-fa310ee26290",
      "name": "Slack Trigger",
      "webhookId": "72cb6049-fa31-44c5-aab3-929c742ab3f2",
      "credentials": {
        "slackApi": {
          "id": "Qvlx8HCnkGFVLFOp",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AlXoZ5kEzwbNZQ2Z",
          "mode": "list",
          "cachedResultUrl": "/workflow/AlXoZ5kEzwbNZQ2Z",
          "cachedResultName": "envioEnOficina"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        -416
      ],
      "id": "74fda897-edf6-4f9f-b5f9-dbc9e9505cd5",
      "name": "a Envio en Oficina",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZfNMbedDU6HxUWsS",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZfNMbedDU6HxUWsS",
          "cachedResultName": "My Sub-Workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        -608
      ],
      "id": "1d5e913c-4a04-4310-a20e-5f2c9bb47023",
      "name": " a Inscripcion Sucursales",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "message",
          "user": "U08QX94HLNT",
          "ts": "1772717372.971249",
          "bot_id": "B08QX94HL5V",
          "app_id": "A08R4QZ1V62",
          "text": "Ocurrió una novedad en la guía 240047389670 - Usuario: <mailto:info@elmejorperfume.com|info@elmejorperfume.com>, Paquetería: INTERRAPIDISIMO, Servicio: STANDARD, Novedad: Novedad en el envío || :package: Tu pedido ha llegado a nuestra oficina en del lugar de destino :round_pushpin:.  Está listo para ser reclamado. ¿Tienes dudas sobre el proceso de entrega? Estamos aquí para ayudarte :hugging_face: Reclame en oficina",
          "team": "T01LC6UNKBL",
          "bot_profile": {
            "id": "B08QX94HL5V",
            "deleted": false,
            "name": "Notification",
            "updated": 1746643784,
            "app_id": "A08R4QZ1V62",
            "user_id": "U08QX94HLNT",
            "icons": {
              "image_36": "https://avatars.slack-edge.com/2025-05-07/8873947124657_fb9ba060770cc8ee34ea_36.png",
              "image_48": "https://avatars.slack-edge.com/2025-05-07/8873947124657_fb9ba060770cc8ee34ea_48.png",
              "image_72": "https://avatars.slack-edge.com/2025-05-07/8873947124657_fb9ba060770cc8ee34ea_72.png"
            },
            "team_id": "T01LC6UNKBL"
          },
          "blocks": [
            {
              "type": "section",
              "block_id": "2BXoj",
              "text": {
                "type": "mrkdwn",
                "text": "*:interrapidisimo: Ocurrió una novedad en la guía 240047389670*",
                "verbatim": false
              }
            },
            {
              "type": "section",
              "block_id": "SPA5N",
              "text": {
                "type": "mrkdwn",
                "text": "USUARIO: <mailto:info@elmejorperfume.com|info@elmejorperfume.com>\nPAQUETERIA: INTERRAPIDISIMO\nSERVICIO: STANDARD\nNOVEDAD: Novedad en el envío || :package: Tu pedido ha llegado a nuestra oficina en del lugar de destino :round_pushpin:. \nEstá listo para ser reclamado. ¿Tienes dudas sobre el proceso de entrega? Estamos aquí para ayudarte :hugging_face: Reclame en oficina\n*--DESTINO--*\nCIUDAD: TARAZA (ANTIOQUIA)\nDIRECCIÓN: Carrera 32 # 35 - 48 casa primer piso cerca al colegio antonio roldan, garzon\nDEP/APTO:  .\nZIP_CODE: 05790000\nTELÉFONO: 3226489231\n--------------------------------",
                "verbatim": false
              }
            }
          ],
          "channel": "C0653G3LD8W",
          "event_ts": "1772717372.971249",
          "channel_type": "group"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-03T01:53:45.921Z",
      "createdAt": "2026-03-03T01:53:45.921Z",
      "role": "workflow:owner",
      "workflowId": "T0fy0KupqZ-O-vJwRrvPq",
      "projectId": "E56trdgxInvxGA6Y",
      "project": {
        "updatedAt": "2026-01-12T22:50:30.978Z",
        "createdAt": "2026-01-12T21:05:23.614Z",
        "id": "E56trdgxInvxGA6Y",
        "name": "jorge Patino <jorgeptn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
        "projectRelations": [
          {
            "updatedAt": "2026-01-12T21:05:23.619Z",
            "createdAt": "2026-01-12T21:05:23.619Z",
            "userId": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
            "projectId": "E56trdgxInvxGA6Y",
            "user": {
              "updatedAt": "2026-03-05T05:00:01.000Z",
              "createdAt": "2026-01-12T21:05:23.596Z",
              "id": "ce4fbb9e-6d48-4da0-921f-63a06934a787",
              "email": "jorgeptn@gmail.com",
              "firstName": "jorge",
              "lastName": "Patino",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-12T22:51:32.120Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companyIndustryExtended": [
                  "physical-retail-or-services"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "zQ-8lqPtwSRNSIrY09cbr",
                "userActivated": true,
                "userActivatedAt": 1768360374572,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772502543338
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-05T13:58:26.615Z",
  "versionCounter": 20,
  "versionId": "38905305-99e8-430e-ae72-4c0fb9306afb"
}